* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header_menu {
  border: 1px black;
  background-color: gray;
  height: 10vh;
  padding: 16px 0;
}

.menu__group {
  max-width: 50vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.menu__item {
  text-decoration: none;
  list-style-type: none;
}

.footer {
  background-color: steelblue;
  min-height: 20vh;
  text-align: center;
  font-size: 14px;
  padding-bottom: 16px;
}

.footer__p {
  padding-top: 16px;
}

#root {
  min-height: 70vh;
}

li {

  list-style-type: none;
}

li>a {
  text-decoration: none;
}